{% block head %}

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/bootstrap.min.js">

    <title>{% block title %}{% endblock %} - we worked with Orthanc</title>

{% endblock %}


{% block body %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        Copyright 2019 by <a href="dubouski.andrei@gmail.com">Andrei Dubouski</a>.
        {% endblock %}
    </div>

{% endblock %}