<html>


<head>

    {% block head %}

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/bootstrap.min.js">

    {% if title %}
    <title>{{ title }} - we worked with Orthanc</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}

    {% endblock %}
</head>


<body>
{% block body %}

<div>
    Microblog:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
    Copyright 2019 by <a href="dubouski.andrei@gmail.com">Andrei Dubouski</a>.
    {% endblock %}
</div>

{% endblock %}
</body>

</html>







